@inherits UmbracoViewPage<Blog.Models.ViewModels.PostViewModel>
@{
}

<!-- Post -->
<div class="row">

    <div class="span2">
        <p class="postMeta uppercase">@Model.PostDate.ToString("ddd dd MMM yyyy")</p>
    </div>

    <div class="span7">

        <h2><a href="@Model.Url">@Model.Title</a></h2>

        <p class="postMeta">Posted in <a href="@Model.Category.Url">@Model.Category.Name</a></p>
        
        @Html.Raw(Model.BodyContent)
        
        @if (Model.Tags != null && Model.Tags.Any())
        {
            <p class="postMeta tags">
                Tags:
                @for(int i = 0; i < Model.Tags.Length; i++)
                {
                    if (i < Model.Tags.Length - 1)
                    {
                        <a href="/tags/?tag=@Model.Tags[i]">@Model.Tags[i]</a><text>,</text>
                    }
                    else
                    {
                        <a href="/tags/?tag=@Model.Tags[i]">@Model.Tags[i]</a>
                    }
                }
            </p>
        }

    </div>
</div>