@using System.Globalization
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
    <link href="/css/site.css" rel="stylesheet" type="text/css" />

    <link rel="icon" type="image/png" href="/img/favico.png" />
    <link rel="alternate" type="application/rss+xml" title="Andrew Aitken's Blog" href="http://feeds.feedburner.com/AndrewAitken" />

    @{
        string title = "Andrew Aitken";
        string description = string.Empty;

        if (!string.IsNullOrEmpty(ViewBag.SeoTitle))
        {
            title = title + " - " + ViewBag.SeoTitle;
        }

        if (!string.IsNullOrEmpty(ViewBag.SeoDescription))
        {
            description = ViewBag.SeoDescription;
        }
    }

    <title>@title</title>

    <meta name="description" content="@description" />
</head>

<body>

    <div class="container">

        <div class="row">

            <div class="span12">

                <header>
                    <h1>
                        <a href="/"><span>Andrew</span><span>Aitken</span>.com</a>
                    </h1>
                    <p>
                        [blog]
                    </p>
                </header>

            </div>
        </div>

        <div class="row">
            <div class="span3">
                @RenderSection("Header", required: true)
            </div>
        </div>

        <div class="row">
            <div class="span9">

                @this.RenderBody()

            </div>

            <div class="span3">

                <p>
                    <a href="http://feeds.feedburner.com/AndrewAitken" title="RSS Feed"><img src="/img/feed-icon.png" alt="RSS Feed"></a>
                </p>
                <p>
                    <a href="https://twitter.com/AndyA13" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @@AndyA13</a>
                    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                </p>

                @{Html.RenderAction("About", "PartialSurface");}


                @{Html.RenderAction("CategoryList", "PartialSurface");}

                <!--<h3>Tags</h3>

                    <ul class="inline">
                        <li><a href="#">70-513</a></li>
                        <li><a href="#">70-515</a></li>
                        <li><a href="#">70-516</a></li>
                        <li><a href="#">70-519</a></li>
                        <li><a href="#">C#</a></li>
                        <li><a href="#">Cache</a></li>
                        <li><a href="#">Calangute</a></li>
                        <li><a href="#">Chicken</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Down The Road</a></li>
                        <li><a href="#">elmah</a></li>
                        <li><a href="#">Goa</a></li>
                        <li><a href="#">Hangman</a></li>
                        <li><a href="#">India</a></li>
                        <li><a href="#">MCPD</a></li>
                        <li><a href="#">My Blog</a></li>
                        <li><a href="#">Qwerk</a></li>
                        <li><a href="#">Umbraco</a></li>
                        <li><a href="#">Fun</a></li>
                        <li><a href="#">VB</a></li>
                    </ul>-->

                @{Html.RenderAction("FriendList", "PartialSurface");}

            </div>

        </div>

    </div>

    <footer class="text-right">
        <div class="container">

            <div class="row">
                <div class="span6 pull-right">
                    <p>
                        &copy; Copyright Andrew Aitken @DateTime.Now.Year.ToString(CultureInfo.InvariantCulture) | Design by <a href="https://twitter.com/sgxbsxn">Steven Gibson</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-5045761-4']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

</body>

</html>
