<?xml version="1.0" encoding="utf-8"?>
@inherits Umbraco.Web.Mvc.UmbracoViewPage<IEnumerable<Blog.Models.ViewModels.PostViewModel>>
@{ Layout = null; Response.ContentType = "application/rss+xml"; }
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>andrewaitken.com</title>
        <link>http://andrewaitken.com</link>
        <description>RSS feed for andrewaitken.com</description>
        <lastBuildDate>@Model.First().PostDate.ToUniversalTime().ToString("r")</lastBuildDate>
        <language>en-gb</language>
        <atom:link href="http://andrewaitken.com/rss" rel="self" type="application/rss+xml" />
        @foreach (var post in Model)
        {
            <item>
                <title>@post.Title</title>
                @Html.Raw(String.Format("<link>http://andrewaitken.com{0}</link>", post.Url))
                <guid>@(String.Format("http://andrewaitken.com{0}", post.Url))</guid>
                <pubDate>@post.PostDate.ToUniversalTime().ToString("r")</pubDate>
                <description><![CDATA[@Html.Raw(post.BodyContent)]]></description>
            </item>
        }
    </channel>
</rss>
